mixin button(style, text, icon=false)
    - let styleBtn = style
    case styleBtn 
        when 'full'
            if icon
                a(class="button-full")&attributes(attributes)=text 
                    i.button__icon='arrow_forward'
            else 
                a(class="button-full")&attributes(attributes)=text 
        when 'border'
            if icon
                a(class="button-border")&attributes(attributes)=text 
                    i.button__icon='arrow_forward'
            else 
                a(class="button-border")&attributes(attributes)=text 
        when 'link'
            if icon
                a(class="button-link")&attributes(attributes)=text 
                    i.button__icon='arrow_forward'
            else 
                a(class="button-link")&attributes(attributes)=text 
        when '100%'
            if icon
                a(class="button-100")&attributes(attributes)=text 
                    i.button__icon='arrow_forward'
            else 
                a(class="button-100")&attributes(attributes)=text         