mixin text-field(option)
  div(class="text-field")&attributes(attributes)
  
    if(option.icon)

      if(option.text)
        label(for=option.name).text-field__label=option.text
        input(type=option.type pattern=option.pattern id=option.name name=option.name placeholder=option.placeholder).text-field__input
        i.input__icon='arrow_forward'
      else 
        input(type=option.type pattern=option.pattern id=option.name name=option.name placeholder=option.placeholder).text-field__input
        i.input__icon='arrow_forward'

    else
      if(option.text)
        label(for=option.name).text-field__label=option.text
        input(type=option.type pattern=option.pattern id=option.name name=option.name placeholder=option.placeholder).text-field__input
      else 
        input(type=option.type pattern=option.pattern id=option.name name=option.name placeholder=option.placeholder).text-field__input
