mixin checkbox(options)
  each option in options
    .checkbox
      if option.title
        input.checkbox__input(type="checkbox" id=option.id)
        label.checkbox__label(for=option.id) 
          .checkbox__title=option.title
          .checkbox__desc=option.name
      else 
        input.checkbox__input(type="checkbox" id=option.id)
        label.checkbox__label(for=option.id) #{option.name}