mixin dropdown-calendar(option)
    div(class="dropdown-calendar")&attributes(attributes)

        if option.dataRange 
            each item in option.items
                .dropdown-calendar__item
                    label(for=item.id class='dropdown-calendar__label h3') #{item.label}
                    input(
                        type="text" 
                        id=item.id 
                        class=item.class 
                        placeholder='ДД.ММ.ГГГГ' 
                        data-range="true"
                        autocomplete="off"
                    )
                    i.dropdown-calendar__icon='expand_more'
        else
            each item in option.items 
                .dropdown-calendar__item
                    label(for=item.id class='dropdown-calendar__label h3') #{item.label}
                    input(
                        type="text" 
                        id=item.id 
                        class=item.class 
                        placeholder='ДД.ММ.ГГГГ' 
                        autocomplete="off"
                    )