mixin dropdown-calendar(option)
    .dropdown-calendar
        each item in option.items 
            .dropdown-calendar__item
                label(for=item.id class='dropdown-calendar__label h3') #{item.label}
                input(type="text" id=item.id class=item.class placeholder='ДД.ММ.ГГГГ')
                i.dropdown-calendar__icon='expand_more'