mixin social-links(options)
    div(class="social-links")&attributes(attributes)
        each item in options.items
            if item.icon_img
                a.social-links__link(href=item.href)
                    img(src=item.icon_img, alt="social-icon", class=item.icon_class) 
            else       
                a.social-links__link(href=item.href)
                    i.fab(class=item.icon_class)
